<div class="modal fade" id="myloginform" tabindex="-1" role="dialog" aria-labelledby="myloginform" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myloginform">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="display: none; background-color: #f1f2f3;" id="log_loader" class="text-center"> <img src="@Url.Content("~/Content/Spinner-1s-200px.gif")" alt="Loading GIF"> </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("login", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "fnSucLog",
                    OnFailure = "fnFailLog",
                    LoadingElementId = "log_loader"
                }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <i class="fa fa-user"></i>
                        <label for="Username" class="col-form-label">Username</label>
                        <input type="text" class="form-control" id="Username" name="username" value="@ViewBag.UserName" required>
                        <div class="invalid-feedback">Please enter your Username.</div>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock"></i>
                        <label for="Password" class="col-form-label">Password</label>
                        <input type="Password" class="form-control" id="Password" name="password" value="@ViewBag.Password" required>
                        <div class="invalid-feedback">Please enter your Password.</div>
                    </div>
                    <div class="form-group text-center mt20">
                        <input type="submit" class="btn btn-info bg-mybg mytext" value="Login" name="Login" id="loginbtn">
                    </div>
                    <div id="log_error" class=""></div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function fnSucLog(data) {
        if (data == "0") {
            location.reload();
        }
        else if (data == "1") {
            $("#log_error").html("");
            $("#log_error").html("Incorrect Username and Password. Please type correct Username and Password");
            $("#log_error").removeClass().addClass('mt-2');
            $("#log_error").addClass('alert alert-danger');
        }
        else if (data == "2") {
            $("#log_error").html("");
            $("#log_error").html("Please try after some time.");
            $("#log_error").removeClass().addClass('mt-2');
            $("#log_error").addClass('alert alert-danger');
        }
        else if (data == "3") {
            $("#log_error").html("");
            $("#log_error").html("Username and Password requred.");
            $("#log_error").removeClass().addClass('mt-2');
            $("#log_error").addClass('alert alert-danger');
        }

    }
    function fnFailLog(err) {

    }
</script>