
@{
    ViewBag.Title = "GetMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetMember</h2>
<p style="margin-left: 10px;">List Of All Member to Register</p>
<table class="table table-striped">
    @*<thead>
        <tr>
            @foreach (DataColumn column in Model.Columns)
            {
                <th>@column.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn column in Model.Columns)
                {
                    <td>@row[column.ColumnName]</td>
                }
            </tr>
        }
    </tbody>*@
</table>

